*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.exe~
*.test
*.prof
*.rar
*.zip
*.gz
*.psd
*.bmd
*.cfg
*.pptx
*.log
*nohup.out
*settings.pyc
*.sublime-project
*.sublime-workspace
!.gitkeep
.DS_Store
/.idea
/.vscode
/output
*.local.yml
device.json
Go-Mirai-Client
device-*.json
gmc-*.zip
captcha.jpg
/video
/device
/releases
/gmc_config.json
cuberbot
tmp
dist/
plugins/
gmc_android.aar
gmc_android-sources.jar
*.bat
*.jar
*.aar
*.syso
*.toml
*.token
login.json
*.jpg
glc